@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 640px) {
  body {
    background-image: url(../src/assets/images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: 85% 61rem;
    background-color: hsl(257, 40%, 49%);
  }
}
@media (min-width: 375px) and (max-width: 648px) {
  body {
    background-image: url(../src/assets/images/bg-mobile.svg);
    background-size: 100% 53%;
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
    background-position: relative;
  }
}
